.comparison-container {
  padding: 40px;
  margin: 0 -20px 30px;
  box-shadow: 0 0px 10px 4px rgba(31, 66, 135, 0.1);
  border-radius: 20px;
  background: #fff;
}

.comparison-table {
  width: 100%;
  margin: 0;

  td {
    text-align: center;
    padding: 0 15px 20px;

    &:first-child {
      text-align: right;
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    &.green {
      color: var(--primary);

      small {
        color: #636363;
      }
    }
  }

  thead {
    tr {
      td {
        font-size: 28px;
        color: #aaa;
      }
    }
  }

  tbody {
    tr {
      td {
        font-size: 24px;
        text-align: center;

        small {
          font-size: 12px;
          opacity: 0.5;
        }

        &:first-child {
          font-weight: 500;
          text-align: right;
        }

        &:not(:first-child) {
          font-family: var(--font-family-monospace);
        }
      }

      &:last-child td {
        padding-bottom: 0;
      }
    }
  }
}

.comparison-notes {
  color: #aaa;
  font-size: 12px;
}
