.network-animation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .node {
    position: absolute;
    width: 15%;
    background: var(--gradient);
    background-size: 200%;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    z-index: 2;
    box-shadow: 4px 8px 16px rgba(#000, 0.3);

    &:after {
      content: "";
      display: block;
      padding-top: 100%;
    }

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 70%;
      height: 70%;
      transform: translate(-50%, -50%);
      filter: drop-shadow(0 0 10px #fff) drop-shadow(0 0 5px rgba(#fff, 0.5));
    }

    &.node-1 {
      left: 30.5%;
      top: 26.7%;
    }

    &.node-2 {
      left: 68.4%;
      top: 73.2%;
    }
  }

  .payment-container {
    position: absolute;
    top: 18.8%;
    left: 24.9%;
    right: 26.6%;
    bottom: 18.8%;
    overflow: hidden;
  }

  .payment {
    position: absolute;
    display: block;
    height: 12px;
    width: 12px;
    border-radius: 12px;
    transform-origin: 6px 6px;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0px 0px 30px 0px rgba(#fff, 0.8);

    animation-name: payment-send;
    animation-duration: 350ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    &.payment-1 {
      left: 0%;
      top: 0%;
      animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }

    &.payment-2 {
      left: 16%;
      top: -2%;
      animation-delay: 150ms;
      animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }

    &.payment-3 {
      left: 4%;
      top: 13%;
      animation-delay: 300ms;
      animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
  }

  @keyframes payment-send {
    0% {
      width: 12px;
      transform: translate(0px, 0px) rotate(40deg);
    }
    50% {
      width: 110px;
    }
    100% {
      width: 12px;
      transform: translate(340px, 300px) rotate(40deg);
    }
  }
}
