html {
  scroll-behavior: smooth;
}

.main-bar-wrapper .custom-logo {
  display: none;
}
.main-bar-wrapper.is-fixed .custom-logo {
  display: block;
}
.main-bar-wrapper.is-fixed .custom-logo-white {
  display: none;
}
